@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.wrapper {
    @include display-flex;
    @include flex-direction(column-reverse);
    @extend .container;
    padding: $single;
}

.article {
    width: 100%;
    @include border-radius($quarter);
}

/* Tablet Styles */
@media (width >= $container-ipad) {
    .article{
        padding: $single;
    }
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .wrapper {
        @include flex-direction(row);
        gap: $triple;
    }
    
    .article{
        max-width: $width-max-article;
    }
}   