.wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
    padding: var(--spacing-single);
}

.article {
    width: 100%;
   border-radius: var(--radius);
}

/* Tablet Styles */
@media (width >= 768px) {
    .article{
        padding: var(--spacing-single);
    }
}

/* DESKTOP STYLES */
@media (width >= 1440px) {

    .wrapper {
        max-width: var(--container-desktop);
        flex-direction: row;
        gap: var(--spacing-triple);
    }
    
    .article{
        max-width: var(--width-max-article);
    }
}   