@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.header {
    @include display-flex;
    @include flex-direction(column);
    flex-wrap: wrap;
    padding: $double $single;
    background-color: $background-300;
}

.category {
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover,
    &:focus {
        color: $brand-700;
        font-weight: 900;
        cursor: pointer;
    }
}

.lead,
.author,
.column {
    @include display-flex;
    @include flex-direction(column);
}

.lead {
    justify-content: center;
    gap: $half;
}

.title {
    font-size: 1.75rem;
}

.category,
.description {
    font-size: $single;
}

.description {
    font-weight: 400;
}

.author {
    gap: $single;
    @include flex-direction(row);
}

.column {
    gap: $half;
}

.authorTitle {
    font-size: $single-quarter;
    margin-bottom: initial;
}

.authorSubtitle {
    font-size: $three-quarters;
}

.authorImageContainer,
.imageContainer {
    position: relative;
}


.authorImage {
    height: $quintuple;
    width: $quintuple;
    @include border-radius(100%);
}

.imageContainer {
    height: 100%;
    width: 100%;
}


.image {
    @include border-radius($quarter);
    height: inherit;
    width: inherit;
    object-fit: cover;
    box-shadow: $three-quarters $three-quarters 0px 0px $brand-500;
    aspect-ratio: 16/9;
}
/* Tablet Styles */
@media (width >= $container-ipad) {
    
    .header {
        @include flex-direction(row);
    }

    .lead,
    .imageContainer {
      max-width: 50%;
      flex: 0 0 50%;
      align-items: flex-start;
      justify-content: center;
    }

    .category,
    .title,
    .description,
    .authorTitle,
    .authorSubtitle {
        font-size: initial;
    }

    .imageContainer {
        align-self: center;
    }

    .image {
        box-shadow: $single $single 0px 0px $brand-500;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .header {
        padding: $triple $single;
    }

    .lead {
        padding-left: $double;
    }

    .imageContainer {
        height: 500px;
        width: 668px;
        align-self: initial;
    }

    .image {
        box-shadow: 24px 24px 0px 0px $brand-500;
    }

}