@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

/* because of Blog-item we needed to recreate these classes inside the module */
.bgPrimary  {
    background-color: $brand-500;
}

.bgSecondary  {
    background-color: $background-900;
}

.header {
    color: $text-900;
    padding-bottom: $double;
}

.header,
.wrapper {
    @include display-flex();
    @include flex-direction(column);
    gap: $single;
    padding: $single;
}

.wrapper {
    flex-wrap: wrap;
}

.linkWrapper {
    padding: $single;
    width: 100%;
    @include display-flex;
    justify-content: flex-start;
}

.archiveLink {
    color: $text-900;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

       &:hover,
       &:focus {
            color:  $brand-500;
            font-weight: 900;
            cursor: pointer;
       }
}

.item {
    @include display-flex();
    @include flex-direction(column);
    @include border-radius($quarter);
    align-items: flex-start;
    border: 1px solid;
    color: $text-900;
    border-color: $text-900;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 250ms;
    
    &:hover,
    &:focus {
        .bgPrimary & {
            border-color: $background-900;
            background-color: $brand-300;

            .imageContainer,
            .footer {
                border-color: $background-900;
            }

        }
    
        .bgSecondary & {
            border-color: $brand-500;
            background-color: $background-700;

            .imageContainer,
            .footer {
                border-color: $brand-500;
            }
        }
    }
}

.imageContainer {
    position: relative;
    display: block;
    width: 100%;
}

.imageLink {
    border-bottom: $text-900 1px solid;
    width: 100%;
}

.image {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 16/9;
}

.title {
    margin-bottom: initial;
}
 
.title,
.description {
    width: 100%;
}

.title,
.description,
.footer {
    padding: $half $single;
}

.category {
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}


.footer {
    width: 100%;
    border-top: $text-900 1px solid;
    @include display-flex;
    @include flex-direction(column);
    gap: $half;
}

/* Tablet Styles */
@media (width >= $container-ipad) {

    .wrapper {
        @include flex-direction(row);
    }

    .item {
        max-width: calc(100% / 3);
        flex: 0 0 calc(33.333% - $single);
    }
      
    .linkWrapper,
    .footer {
        justify-content: flex-end;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .header {
        max-width: $container-ipad-landscape;
        flex: 0 0 50%;
    }

    .wrapper {
        gap: $triple;
    }

    .item {
        max-width: calc(100% / 3);
        flex: 0 0 calc(33.333% - $double);
    }
}