@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.footer {
    @extend .container;
    @include display-flex;
    @include flex-direction(column);
    @include border(1px solid transparent);
    @include border-radius($quarter);
    background-color: $background-500;
    padding-top: $double;
    padding-bottom: $double;
    margin-bottom: $double;
}

.wrapper,
.column {
    gap: $single;
    @include display-flex;
    @include flex-direction(column);
}

.column {
    padding: $single;
}

.imageContainer {
    position: relative;
    height: 300px;
    width: 300px;
}

.image {
    @include border-radius($quarter);
    width: inherit;
    height: inherit;
    object-fit: cover;
    box-shadow: $half $half 0px 0px $brand-500;
}

.buttonWrapper {
    @include display-flex;
    @include flex-direction(column);
    flex-wrap: wrap;
    gap: $single;
}

/* Tablet Styles */
@media (width >= $container-ipad) {

    .footer {
        @include flex-direction(row);
    }

    .imageContainer {
      height: 400px;
      width: 400px;
    }

    .image {
        box-shadow: $single $single 0px 0px $brand-500;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .footer {
        padding-top: $triple;
        padding-bottom: $triple;
        margin-bottom: $triple;
    }

    .column {
        flex: 0 0 50%;
        align-items: flex-start;
        justify-content: center;
    }

    .buttonWrapper {
        @include flex-direction(row);
    }
  
    .imageContainer {
        height: 500px;
        width: 668px;
    }
    
    .image {
        box-shadow: 24px 24px 0px 0px $brand-500;
    }
}