@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.wrapper {
    @include display-flex;
    @include flex-direction(row);
    flex-wrap: wrap;
    align-items: center;
    gap: $double;
}