.bgPrimary {
    background-color: var(--brand-500);
}

.bgSecondary {
    background-color: var(--background-900);
}

.header {
    color: var(--text-900);
    padding-bottom: var(--spacing-double);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
    padding: var(--spacing-single);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
    padding: var(--spacing-single);
    flex-wrap: wrap;
}

.linkWrapper {
    padding: var(--spacing-single);
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.archiveLink {
    color: var(--text-900);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.archiveLink:hover,
.archiveLink:focus {
    color: var(--brand-500);
    font-weight: 900;
    cursor: pointer;
}


.item {
    display: flex;
    flex-direction: column;
    border-radius: var(--spacing-quarter);
    align-items: flex-start;
    border: 1px solid var(--text-900);
    color: var(--text-900);
    cursor: pointer;
    overflow: hidden;
    transition: border-color 250ms;
}

.bgPrimary .item:hover,
.bgPrimary .item:focus {
    border-color: var(--background-900);
    background-color: var(--brand-300);

    .imageContainer,
    .footer {
        border-color: var(--background-900);
    }
}

.bgSecondary .item:hover,
.bgSecondary .item:focus {
    border-color: var(--brand-500);
    background-color: var(--background-700);

    .imageContainer,
    .footer {
        border-color: var(--brand-500);
    }
}


.imageContainer {
    position: relative;
    display: block;
    width: 100%;
}

.imageLink {
    border-bottom: 1px solid var(--text-900);
    width: 100%;
}

.image {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 16/9;
}

.title,
.description,
.footer {
    padding: var(--half) var(--spacing-single);
}

.title {
    margin-bottom: initial;
    width: 100%;
}

.description {
    width: 100%;
}

.category {
    transition: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category:hover,
.category:focus {
    cursor: pointer;
}

.footer {
    width: 100%;
    border-top: 1px solid var(--text-900);
    display: flex;
    gap: var(--half);
}

.footerColumn {
    flex-direction: column;
}

.footerRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-single);

    .category {
        margin-bottom: initial;
    }
}

.price {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-quarter);
    align-items: center;
}

.currency {
    background-size: cover; 
    display: inline-block;
    height: var(--spacing-single);
    width: var(--spacing-single);
}

/* Tablet Styles */
@media (width >= 768px) {
    .wrapper {
        flex-direction: row;
    }

    .item {
        max-width: calc(100% / 3);
        flex: 0 0 calc(33.333% - var(--spacing-single));
    }

    .linkWrapper,
    .footerColumn {
        justify-content: flex-end;
    }
}

/* Desktop Styles */
@media (width >= 1440px) {
    .header {
        max-width: var(--container-ipad-landscape);
        flex: 0 0 50%;
    }

    .wrapper {
        gap: var(--triple);
    }

    .item {
        max-width: calc(100% / 3);
        flex: 0 0 calc(33.333% - var(--spacing-double));
    }
}
