@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.banner {
    @include display-flex();
    @include flex-direction(column);
    @include border(1px solid transparent);
    @include border-radius($quarter);
    padding: $double;
}

.imageContainer {
    position: relative;
    @include display-flex;
    @include flex-direction(row);
    justify-content: center;
    margin: 0 auto;
}

.content {
    text-align: center;
    padding-top: $single;
}

.image {
    @include border-radius(100%);
    width: 100px;
    height: 100px;
    aspect-ratio: 16/9;
  }
  
.buttonWrapper {
    @include display-flex;
    justify-content: center;
    padding-top: $single;
    padding-bottom: $double;
    margin: 0 auto;
}

@media (width >= $container-desktop) {

    .banner {
        @include flex-direction(row);
        gap: $triple;
        padding: $double $triple;
    }

    .imageContainer {
        margin: initial;
    }

    .content {
        padding-top: initial;
    }

}