@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.banner {
    @include display-flex();
    @include flex-direction(column);
   /*  padding: $single; */
}

.imageContainer {
    position: relative;
    @include display-flex;
    @include flex-direction(row);
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.content {
    text-align: center;
}

.image {
    @include border-radius(100%);
    width: inherit;
    height: inherit;
    aspect-ratio: 16/9;
  }
  
.buttonWrapper {
    @include display-flex;
    justify-content: center;
    padding-top: $single;
    padding-bottom: $double;
    margin: 0 auto;
}

@media (width >= $container-desktop) {

    .banner {
        flex-direction: row;
        gap: $single;
    /*     padding: $double; */
    }

    .imageContainer {
        max-height: 100px;
        max-width: 100px;
        padding-top: $double;
    }

}