.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.link {
    font-size: var(--spacing-single);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

.link:hover,
.link:focus {
  cursor: pointer;
  color: var(--brand-500);
}
