@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.wrapper {
    @include display-flex();
    @include flex-direction(column);
    gap: $single;
}

.link {
    font-size: $single;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  
    &:focus,
    &:hover {
      cursor: pointer;
      color: $brand-500;
    }
}