@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

/* because of Blog-item we needed to recreate these classes inside the module */
.bgPrimary  {
    background-color: $brand-500;
}

.bgSecondary  {
    background-color: $background-300;
}

.header {
    color: $text-900;
    padding-bottom: $double;
}

.header,
.wrapper {
    @include display-flex();
    @include flex-direction(column);
    gap: $single;
    padding: $single;
}

.wrapper {
    flex-wrap: wrap;
}

.linkWrapper {
    padding: $single;
    width: 100%;
    @include display-flex;
    justify-content: center;
}

.archiveLink {
    color: $text-900;

    .bgPrimary & {
       &:hover,
       &:focus {
           color:  $background-300;
       }
    }

    .bgSecondary & {
       &:hover,
       &:focus {
           text-decoration: underline;
           text-underline-offset: $half;
       }
    }
}

/** item **/
.blog {
    @include display-flex();
    @include flex-direction(column);
    @include border-radius($half);
    width: 100%;
    align-items: flex-start;
    border: 1px solid;
    color: $text-900;
    border-color: $text-900;
    cursor: pointer;
    
    .bgPrimary & {
        background-color: $brand-500;
    }

    .bgSecondary & {
        background-color: $background-300;
    }
}

.imageContainer {
    position: relative;
    height: 215px;
    width: 100%;
    border: 1px solid;
    border-color: $text-700;

    .bgPrimary &,
    .bgSecondary & {
        border-color: $text-900;
    }
}

.image {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 16/9;
}

.title {
    margin-bottom: initial;
}
 
.title,
.description {
    width: 100%;
}

.title,
.description,
.footer {
    padding: $half $single;
}

.category {
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

    &:hover,
    &:focus {
        color: $background-300;
        cursor: pointer;
    }
}


.footer {
    width: 100%;
    border-top: $text-900 2px solid;
    @include display-flex;
    @include flex-direction(column);
    gap: $half;
    border-top: 1px solid;
    border-color: $text-700;

    .bgPrimary &,
    .bgSecondary & {
        border-color: $text-900;
    }
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {

    .imageContainer {
        height: 460px;
    }
      
    .wrapper {
      align-items: center;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .header {
        max-width: calc($container-desktop / 2);
        flex: 0 0 50%;
    }

    .wrapper {
        @include flex-direction(row);
        gap: $triple;
    }

    .linkWrapper {
        justify-content: flex-end;
    }

     /** item **/
    .blog {
        max-width: calc(100% / 4);
        flex: 0 0 calc(100% / 4);
    }
}