@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.cards {
  @extend .container;
  padding: $single;
}

.header,
.wrapper {
  @include display-flex();
  @include flex-direction(column);
}

.header {
  gap: $single;
  padding-bottom: $double;
}

.wrapper {
  gap: $single;
  flex-wrap: wrap;
}

.card {
  @include display-flex();
  @include flex-direction(column);
  @include border-radius($quarter);
  border: 1px solid $brand-300;
  padding: $single;
  width: 100%;
  align-items: center;
  color: $text-900;
}

.body {
  flex-grow: 1;
  @include display-flex;
  @include flex-direction(column);
  justify-content: center;
}

.imageContainer {
  position: relative;
  height: 75px;
  width: 75px;
  margin-top: $single;
  margin-bottom: $double;
}

.image {
  @include border-radius(100%);
  aspect-ratio: 16/9;
  width: inherit;
  height: inherit;
}

.title {
  color:  $brand-500;
  font-weight: 600;
  padding-bottom: $single;
  text-align: center;
}

/* Tablet Styles */
@media (width >= $container-ipad) {

  .imageContainer {
      width: 150px;
      height: 150px;
  }
    
  .wrapper {
      @include flex-direction(row);
  }

  .card {
      max-width: 50%;
      flex: 0 0 calc(50% - $single);
  }
  
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .header {
    max-width: calc($container-desktop / 2);
    flex: 0 0 50%;
  }

  .cards {
    padding-top: $double;
    padding-bottom: $double;
  }

  .wrapper {
    gap: $double;
  }

  .card {
    max-width: calc(100% / 4);
    flex: 0 0 calc(25% - $double);
  }
}
