.cards {
  margin: 0 auto;
  width: 100%;
  padding: var(--single);
}

.header,
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  gap: var(--single);
  padding-bottom: var(--double);
}

.wrapper {
  gap: var(--single);
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--quarter);
  border: 1px solid var(--text-900);
  padding: var(--single);
  width: 100%;
  align-items: center;
  color: var(--text-900);
  transition-duration: 250ms;
}

.card:focus,
.card:hover {
  background-color: var(--background-700);
  border-color: var(--brand-500);
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.imageContainer {
  position: relative;
  margin-top: var(--single);
  margin-bottom: var(--double);
}

.image {
  aspect-ratio: 1/1;
}

.title {
  color: var(--text-900);
  font-weight: 600;
  padding-bottom: var(--single);
  text-align: center;
}

/* Tablet Styles */
@media (width >= 768px) {
  
  .wrapper {
      flex-direction: row;
  }

  .card {
      max-width: 50%;
      flex: 0 0 calc(50% - var(--single));
  }
}

/* Desktop Styles */
@media (width >= 1440px) {

  .header {
    max-width: var(--container-ipad-landscape);
    flex: 0 0 50%;
  }

  .cards {
    padding-top: var(--double);
    padding-bottom: var(--double);
    max-width: var(--container-desktop);
  }

  .wrapper {
    gap: var(--double);
  }

  .card {
    max-width: calc(100% / 4);
    flex: 0 0 calc(25% - var(--double));
  }
}
