@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.wrapper {
    @include display-flex();
    @include flex-direction(column);
    gap: $single;
}

.select {
    width: 100%;
    text-align: center;
}

.item {
    list-style: none;
}

.button {
    background-color: $brand-500;
    color: $text-900;

    &:hover,
    &:focus {
        background-color: $background-300;
    }

}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .wrapper {
        @include flex-direction(row);
        justify-content: space-between;
    }

}