@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.footer {
  border-top: 1px solid $text-900;
  @extend .container;
  padding-bottom: $quintuple;
  background-color: $background-900;
  @include display-flex;
  @include flex-direction(column);
}

.logoContainer {
  position: relative;
  height: 50px;
  width: 50px;
  padding-top: $single;
  margin-left: $single;
}

/*  COLUMNS */

.column {
  flex: 100%;
  max-width: 100%;

  &:first-of-type {
    margin-top: $single;
    margin-bottom: $single;
  }


}

.columnContainer {
  gap: $single;
  width: 100%;
  @include display-flex;
  @include flex-direction(column);
  padding: $double $single;
}

.text {
  margin-bottom: $single;
}

.socialIcon {
  width: $single;
}

.linkWrapper {
  @include display-flex;
  @include flex-direction(column);
  gap: $single;
}

.link,
.someLink {
  font-size: $single;

  &:focus,
  &:hover {
    cursor: pointer;
    color: $brand-500;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

.someLink {
  @include display-flex;
  @include flex-direction(row);
  gap: $single;
}

.toggle {
  width: 100%;
  @include border(1px transparent);
}

.wrapper {
  text-align: left;
  width: 100%;
  min-height: 1.25rem;
}

.flexBox {
  @include display-flex;
  border-bottom: 2px solid;
  border-color: $text-900;
  align-items: center;
}

.heading {
  font-weight: 900;
  padding-top: $single;
}

.icon {
  background-image: none;
  @include border(0px solid);
  cursor: pointer;
  margin-left: auto;
  margin-right: $single;
  width: 0.875rem;
  line-height: 2.25rem;
}

.contentDivider {
  border-color:$text-900;
  border-top-width: 2px;
}

.closed,
.open,
.content {
  background: inherit;
}

.content {
  transition: max-height 0.6s ease;
  max-height: 0;
  overflow: hidden;
  padding-top: $half;
  padding-right: $half;
}

.text,
.textNOPadding {
  font-weight: 700;
}

.text {
  padding: $half 0;
}

.textNOPadding {
  padding: 0;
}

/* Subfooter  */

.subFooter {
  border-top: $text-900 2px solid;
  padding: $single;
  @include display-flex;
  @include flex-direction(column);
  gap: $half;
}

/* MOBILE  */

.mobile {
  border-top: $text-900 2px solid;
  background-color: $brand-900;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  z-index: 50;
  text-align: center;
}

.mobileMenuWrapper {
  @include display-flex;
  @include flex-direction(row);
  flex-wrap: wrap;
  justify-content: center;
  
  
  a,
  button {
    color:$text-900;
    position: relative;
    width: $quintuple;
    height: $quadruple;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  
  button {
    border: none;
    outline: none;
    background: none;
  }
}

.mobileIcon {
  margin-top: $three-quarters;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.mobileLinkText {
  @include display-flex;
  justify-content: center;
  width: 100%;
  font-size: $three-quarters;
  line-height: 1.625;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
  
  .footer {
    padding-bottom: 0;
    justify-content: center;
  }

  .logoContainer {
    display: block;
    height: 230px;
    width: 230px;
    margin: 0 auto;
  }

  .columnContainer {
    @include flex-direction(row);
    gap: $double;
    max-width: $container-desktop;
    margin-left: auto;
    margin-right: auto;
    padding: initial;
  }

  .column {
    max-width: calc(100% / 3);
    flex: 0 0 calc(33.333% - $double);
  }

  .socialIcon {
    width: $double;
  }

  .toggle {
    width: initial;
    pointer-events: none;
  }

  .icon {
    display: none !important;
  }

  .header {
    @include display-flex;
    @include flex-direction(row);
    flex-wrap: wrap;
  }

  .content {
    max-height: fit-content !important;

    a {
      pointer-events: all;
    }
  }

  .flexBox {
    border-color: transparent;
  }

  .brand {
    padding-right: $half;
  }

  .legal {
    padding-left: $half;
  }

  .subFooter {
    @include flex-direction(row);
  }

}
