.section {
  margin: 0 auto;
  width: 100%;
  padding: var(--single);
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  gap: var(--single);
  padding-bottom: var(--single);
}

.title {
  margin-bottom: 0;
}

/* Wrappers */
.wrapper,
.form,
.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--single);
}

.footer {
  padding: var(--single) 0;
}

.form {
  padding: var(--single);
  background: var(--background-300);
  border-radius: var(--quarter);
  border: 1px solid transparent;
}

/* Image Container */
.imageContainer {
  display: none;
}

/* Content */
.content {
  max-width: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: var(--quarter);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fieldset {
  padding: var(--single);
}

.checkbox {
  margin: var(--single);
  width: var(--single);
  max-width: var(--single);
}

.label,
.legend {
  display: block;
  font-weight: 700;
}

.label,
.select,
.option,
.input {
  font-size: var(--single);
  width: 100%;
  max-width: 100%;
}

.input,
.select,
.option {
  display: flex;
  height: var(--triple);
  padding: var(--half) var(--single);
  align-items: center;
  align-self: stretch;
}

.input,
.select,
.option {
    border-radius: var(--quarter);
    border: 1px solid rgba(4, 43, 96, 0.25);
}


.input {
  border-radius: var(--quarter);
  border: 1px solid rgba(4, 43, 96, 0.25);
}

/* Desktop Styles */
@media (width >= 1440px) {
  
  .section {
    margin-bottom: var(--double);
    max-width: var(--container-desktop);
  }

  .header {
    max-width: var(--container-ipad-landscape);
    flex: 0 0 50%;
  }

  .wrapper {
    flex-direction: row;
    gap: var(--double);
  }

  .imageContainer,
  .content {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .imageContainer {
    display: block;
  }

  .image {
    object-fit: cover;
    aspect-ratio: 16/9;
  }

}
