.nav,
.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-single);
}

.nav {
    background-color: var(--text-900);
    border-radius: var(--spacing-quarter);
}

.wrapper {
    color: var(--background-900);
    padding: var(--spacing-single);
}

.list {
    list-style-type: none;
}

.link {
    color: var(--background-300);
}

.link:hover,
.link:focus {
    color: var(--brand-900);
}

/* Desktop Styles */
@media (width >= 1440px) {
    .nav {
        max-width: 440px;
        border-left: 2px solid var(--text-700);
        height: min-content;
    }

    .wrapper {
        padding-left: var(--spacing-double);
        padding-right: var(--spacing-double);
    }
}
