@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  @include display-flex;
  @include flex-direction(row);
  min-height: 80px;
  width: 100vw;
  padding-left: $half;
  padding-right: $half;
  align-items: center;
  justify-content: center;
  background-color: $brand-500;
  border-bottom: 1px solid $text-900;
}

.navigation,
.slogan {
  display: none;
}

.title {
  font-size: $single-quarter;
  margin-bottom: 0;
  font-weight: 900;
  text-shadow: 1px 1px 2px #001f2a;
}

.calendar {
  margin-left: auto;
  width: 100%;
  max-width: fit-content
}

.icon {
  margin-top: $three-quarters;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

/* Tablet Styles */
@media (width >= $container-ipad) {

  .header {
    width: 100%;
  }

  .brand {
    width: 100%;
    @include display-flex;
    @include flex-direction(row);
    align-items: center;
    gap: $double;
  }
  
  .slogan {
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px #001f2a;
  }

}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

  .header {
    position: relative;
    max-height: 999px;
    justify-content: space-evenly;
    @include flex-direction(column);
    padding: initial;
    width: 100vw;
  }

  .title {
    font-size: $double-half;
    margin-bottom: $single;
  }

  .brand {
    max-width: $container-desktop;
  }

  .navigation {
    @include display-flex;
    @include flex-direction(row);
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    z-index: 50;
    top: 0;
    width: 100vw;
    padding: $half;
    background-color: $background-900;
    border-bottom: 1px solid $text-900;
  }

  .wrapper {
    @include display-flex;
    @include flex-direction(row);
    align-items: center;
    width: 100%;
    max-width: $container-desktop;
    margin: 0 auto;
  }

  .menu {
    @include display-flex;
    @include flex-direction(row);
    align-items: center;
    gap: $double;
  }

  .link {
    font-size: $double;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-shadow: 1px 1px 2px #001f2a;

    &:hover {
      color: $brand-700;
      cursor: pointer;
      font-weight: 900;
    }

  }

.active {
  font-weight: 900;
}

  .icon {
    display: none;
  }

}
