@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.hero {
  background-color: $brand-500;
  color: $text-900;
  @extend .container;
  position: relative;
  @include display-flex();
  @include flex-direction(column);
}

.mediaContainer {
  position: relative;
  height: auto;
  width: 100%;
  max-height: 400px;
}

.image {
  width: inherit;
  height: inherit;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.video {
  height: 400px;
}

.textWrapper {
  height: 100%;
  width: 100%;
  @include display-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.contentContainer {
  width: 100%;
  @include display-flex();
  @include flex-direction(row);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.content {
  padding: $double;

  h1 {
    font-size: $triple;
  }

  h3 {
    font-size: $single;
    font-weight: 500;
  }
}

.buttonWrapper {
  @include display-flex;
  @include flex-direction(row);
  flex-wrap: wrap;
  gap: 1rem;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {

  .mediaContainer {
    max-height: 540px;
    height: 540px;
  }
    
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .hero {
    @include flex-direction(row);
    position: relative;
  }

  .mediaContainer,
  .contentContainer {
    flex: 0 0 50%;
  }

  .mediaContainer {
    max-height: initial;
  }

  .video {
    height: 580px;
    max-height: 580px;
  }

  .fullWrapper {
    position: absolute;
    max-width: 1440px;
    inset: 0;

    .image {
      height: 500px;
      max-height: 500px;
    }

    .video {
      height: 612px;
      max-height: 612px;
    }
  }

  .mediaFirst,
  .contentFirst {
    order: 1;
  }

  .mediaLast,
  .contentLast {
    order: 2;
  }

  .content {

    h1 {
      padding-bottom: $single;
      font-size: 3.5rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-bottom: $single;
    }
  }
}
