@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.hero {
  background-color: $brand-500;
  color: $text-900;
  @extend .container;
  position: relative;
  @include display-flex();
  @include flex-direction(column);
}

.mediaContainer {
  position: relative;
  height: auto;
  width: 100%;
  max-height: 400px;
}

.image {
  width: inherit;
  height: inherit;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.video {
  height: 400px;
}

.textWrapper {
  height: 100%;
  width: 100%;
  @include display-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.contentContainer {
  width: 100%;
  @include display-flex();
  @include flex-direction(row);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.content {
  padding: $single;

  h1 {
    font-size: $triple;
  }

  h3 {
    font-size: $single;
    font-weight: 500;
  }
}

.buttonWrapper {
  @include display-flex;
  @include flex-direction(row);
  flex-wrap: wrap;
  gap: $single;
}

/* Tablet Styles */
@media (width >=  $container-ipad ) {

  .content {
    padding: $double;
  }

  .mediaContainer {
    max-height: 561px;
    height: 561px;
  }
    
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .hero {
    @include flex-direction(row);
    position: relative;
    height: 561px;
    max-height: 561px;
  }

  .mediaContainer,
  .contentContainer {
    flex: 0 0 50%;
  }

  .mediaContainer {
    max-height: initial;
  }

  .video {
    height: 561px;
    max-height: 561px;
  }

  .fullWrapper {
    position: absolute;
    max-width: 1440px;
    inset: 0;


    .image,
    .video {
      height: 561px;
      max-height: 561px;
    }
  }

  .mediaFirst,
  .contentFirst {
    order: 1;
  }

  .mediaLast,
  .contentLast {
    order: 2;
  }

  .content {
      h1 {
        font-size: 3.5rem;
      }

      h3 {
        font-size: $single-half;
      }

      h1, h3 {
        text-shadow: 1px 1px 2px $background-900;
        padding-bottom: $single;
      }
  }
}
