@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.wrapper {
    @include display-flex;
    justify-content: center;
}

.imageBlock {
    width: 320px;
    position: relative;
    padding: $single;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {
    
    .imageBlock  {
      width: 375px;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .imageBlock {
        width: auto;
    }

    .image {
        max-width: 720px;
    }

}