@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";


.imageBlock{
    position: relative;
    height: 250px;
    width: 100%;
    margin: $half 0;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {
    
    .image{
      height: 375px;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {


    .image{
        height: initial;
        max-width: $width-max-article;
    }

}