.imageGallery,
.imageGallerySwiper {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--spacing-single);
}

.imageContainer,
.imageModalContainer {
    position: relative;
    width: 320px;
}

.slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    aspect-ratio: auto;
}

.title {
    width: 100%;
    text-align: center;
}

/* Tablet Styles */
@media (width >= 768px) {
    
    .imageModalContainer{
        height: 75vh;
        width: 75vw;
        margin: 0 auto;
    }

    .imageContainer {
        max-width: 45%;
        flex: 0 0 45%;
    }
}

/* Desktop Styles */
@media (width >= 1440px) {
    .imageContainer {
        max-width: calc(100% / 4);
        flex: 0 0 calc(100% / 4);
    }
}
