@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.imageGallery,
.imageGallerySwiper {
    position: relative;
}

.wrapper {
    @include display-flex;
    @include flex-direction(row);
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $single;
}

.imageContainer,
.imageModalContainer {
    position: relative;
    height: 250px;
    width: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    aspect-ratio: auto;
}

.title {
    width: 100%;
    text-align: center;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {

    .imageModalContainer{
        height: 75vh;
        width: 75vw;
        margin: 0 auto;
    }

    .imageContainer {
        height: 375px;
        max-width: 45%;
        flex: 0 0 45%;
    }

}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
    
    .imageModalContainer {
        height: 75vh;
        width: 75vw;
        margin: 0 auto;
    }

    .imageContainer {
        height: initial;
        max-width: calc(100% / 4);
        flex: 0 0 calc(100% / 4);
    }

  
}