@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";


.imageBlock {
    height: 250px;
    position: relative;
    padding: $single;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {
    
    .imageBlock  {
      height: 375px;
      width: 375px;
    }
    
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .imageBlock {
        height: auto;
        width: auto;
    }

    .image {
        max-height: 720px;
    }

}