// Markdown is wrapped in Article.
// These styles are for Markdown content.
.markdown {
    article {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin-bottom: $single;
  
        strong {
          color: $brand-500;
        }
      }
  
      p {
        padding-bottom: $half;
      }
  
      ul li {
        padding-top: $quarter;
        padding-bottom: $quarter;
      }
  
      img {
        object-fit: contain;
        object-position: 50% 50%;
        height: fit-content;
        width: 100%;
        max-width: 350px;
        max-height: 350px;
        @include border-radius($single);
      }
  
      a {
        color: $brand-500;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
  
        &:hover,
        &:focus {
          text-decoration: underline;
          text-underline-offset: $half;
        }
      }
    }
  }

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {
  .markdown {
    article {
      img {
        height: 450px;
        max-width: 450px;
        max-height: 450px;
      }
    }
  }
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .markdown {
    article {
      img {
        height: 600px;
        max-width: 600px;
        max-height: 600px;
      }
    }
  }
}