@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.mediaMix {
  position: relative;
}

.mediaMix,
.wrapper,
.mediaMixColumn {
  @include display-flex();
  @include flex-direction(column);
}

.wrapper {
  gap: $single;
}

.mediaMixColumn {
  padding: $single;
}

.imageContainer,
.videoContainer {
  position: relative;
  height: 325px;
  width: 325px;
}


.image {
  @include border-radius($half);
  width: inherit;
  height: inherit;
  box-shadow: $three-quarters $three-quarters 0px 0px $brand-500;
  aspect-ratio: 16/9;
}

.videoContainer {
  z-index: 30;
  width: 325px;
  padding: $single;
}

.buttonWrapper {
  padding: 0 $single;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: fit-content;
}

/* Tablet Styles */
@media ($container-ipad <= width <= $container-desktop) {

  .wrapper {
    @include flex-direction(row);
  }

  .imageContainer,
  .videoContainer {
    height: 540px;
    width: 540px;
  }

  .image {
    box-shadow: $single $single 0px 0px $brand-500;
  }
  
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .wrapper {
    @include flex-direction(row);
    gap: $double;

  }

  .mediaMixColumn {
    flex: 0 0 50%;
    padding: initial;
    align-items: flex-start;
    justify-content: center;
  }

  .imageContainer,
  .videoContainer {
    height: 500px;
    width: 668px;
  }

  .image {
    box-shadow: 24px 24px 0px 0px $brand-500;
  }

  .buttonWrapper {
    margin-left: initial;
    margin-right: initial;
  }
}
