.toggle {
    color: var(--text-900);
    position: relative;
    width: var(--spacing-quintuple);
    height: var(--spacing-quadruple);
    text-align: center;
    z-index: 10;
    cursor: pointer;
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
    border: none;
    outline: none;
    background: none;
}

.toggle:hover {
  color: var(--brand-700);
}

.icon {
  margin-top: var(--spacing-three-quarters);
  height: 1.875rem;
  width: 1.875rem;
}

.text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--spacing-three-quarters);
  line-height: 1.625;
}
