@import "../partials/mixins";
@import "../partials/variables";

.link {
    color: $text-900;
    position: relative;
    width: $quintuple;
    height: $quadruple;
    text-align: center;
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform,
    filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    z-index: 10;
    cursor: pointer;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);

    &:hover,
    &:focus {
      color: $brand-700;
    }

}

.active {
    color:  $brand-700;
}

.icon {
  margin-top: $three-quarters;
  height: 1.875rem;
  width: 1.875rem;
}

.text {
  @include display-flex;
  justify-content: center;
  width: 100%;
  font-size: $three-quarters;
  line-height: 1.625;
}
