@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/util";

/* MOBILE  */

.mobile {
  border-top: $text-900 2px solid;
  background-color: $background-900;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  z-index: 50;
  text-align: center;
}

.menuWrapper {
  @include display-flex;
  @include flex-direction(row);
  flex-wrap: wrap;
  justify-content: center;
}
