@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.modal {
    background-color: $background-900;
    position: fixed;
    inset: 0;
    z-index: 60; 
}

.header {
    display: flex; 
    padding: $single; 
    justify-content: flex-end; 
}

.content {
	display: flex; 
    position: relative; 
    padding: $single;  
    justify-content: center; 
    align-content: center; 
    width: 100%; 
}

.button {
    @extend .button;
}