@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

$mobile-screen-padding-top: 6rem;

#modal {
    background-color: $brand-500;
    position: fixed;
    top: 0;
    left: 0;
    @include display-flex;
    @include flex-direction(column);
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: $mobile-screen-padding-top;
}

.content {
    position: sticky;
    width: inherit;
    z-index: 10;
}

.linkWrapper {
    padding-top: $single;
    padding-bottom: $single;
    padding-left: $triple;
    list-style: none;
    border-bottom: 2px solid $text-900;
}

.link {
    color: $text-900;
    font-size: 22px;
    font-weight: 700;
}

.active {
    border-color: $background-300;

    .link {
        color: $background-300;
    }

}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
    #modal {
        display: none;
    }
}