@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";


.pagination {
    width: 100%;
    padding-top: $single;
    padding-bottom: $single;
    gap: $single;
    @include display-flex;
    @include flex-direction(row);
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    text-align: center;
    width: $double-half;
    height: $double-half;
    font-size: $single-quarter;
    line-height: 1.75;
    color: $text-900;
    background-color: $brand-700;
    border: 1px solid;
    border-color: $brand-700;
    @include border-radius(100%);
}

.active {
    @extend .item;
    color: $background-900;
}