.pagination {
    width: 100%;
    padding-top: var(--spacing-single);
    padding-bottom: var(--spacing-single);
    gap: var(--spacing-single);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    text-align: center;
    width: var(--spacing-double-half);
    height: var(--spacing-double-half);
    font-size: var(--spacing-single-quarter);
    line-height: 1.75;
    color: var(--text-900);
    background-color: var(--brand-700);
    border: 1px solid;
    border-color: var(--brand-700);
    border-radius: 100%;
}

.item.active {
    color: var(--background-900);
}
