@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.quoteWrapper {
    position: relative;
    width: 100%; 
    max-width: $container-ipad;
    @include display-flex();
    @include flex-direction(column);
    padding: 0 $single;
}

.quote {
    margin: $single 0;
    font-style: italic;
}


.quotationMark {
    width: 100%;
    height: auto;
    max-width: 20px; 
    margin-right: auto;

    &:last-of-type {
        margin-right: initial;
    }
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .quoteWrapper {
        padding: 0 $double;
    }

    .quote {
        font-size: $double-half;
    }

    .quotationMark {
        max-width: 40px; 
    }
    

}