@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.quoteWrapper {
    position: relative;
    width: 100%; 
    max-width: $container-ipad;
    @include display-flex();
    @include flex-direction(column);
    padding: $single;
}

.quote {
    margin: $single;
    font-style: italic;
}

.quotationMark {
    width: 100%;
    height: auto;
    max-width: 20px; 
    margin-right: auto;

    &:last-of-type {
        margin-right: initial;
    }
}

/* iPad STYLES */
@media (width >= $container-ipad) {

    .quote {
        font-size: $single
    }

    .quotationMark {
        max-width: $single-half; 
    }
    

}