@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.shareButtons {
    padding: $single;
    color: $background-900;
}

.wrapper {
    @include display-flex();
    @include flex-direction(row);
    gap: $single;
}


.icon {
    width: 100%;
    height: auto;
    max-width: $double;
    max-height: $double;
    color: $background-300;

    &:hover,
    &:focus {
        color: $brand-900;
    }
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

    .shareButtons {
        padding-left: $double;
        padding-right: $double;
    }

}