@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.shareButtons {
    padding: $single;
    color: $text-900;
    @include display-flex();
    @include flex-direction(row);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $single;
}

.wrapper {
    @include display-flex();
    @include flex-direction(row);
    gap: $single;

}


.icon {
    width: 100%;
    height: auto;
    max-width: $double;
    max-height: $double;
    color: inherit;

    &:hover,
    &:focus {
        color: $brand-900;
    }
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {


}