.content {
  margin: 0 auto;
  width: 100%;
  word-wrap: break-word;
  padding-left: var(--spacing-single);
  padding-right: var(--spacing-single);
}

/* Desktop Styles */
@media (width >= 1440px) {
  .content {
    max-width: var(--container-desktop);
  }
}