@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";
@import "partials/typography";
@import "partials/util";
@import "components/markdown";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: $text-900;
  background-color: $background-900;
  scroll-behavior: smooth;
  line-height: 1.5;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  background-color: $background-900;
}

section {
  padding-top: $double;
  padding-bottom: $double;
}

.youtube {
    @include border(1px solid transparent);
    width: 100%;
    height: 100%;
    padding: $single;
}

.mobile-only {
display: block;
}

.desktop-only {
display: none;
}
  


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  
    .mobile-only {
      display: none;
    }
  
    .desktop-only {
      display: block;
    }

    section {
      padding-top: $triple;
      padding-bottom: $triple;
    }


}