@import "breakpoints";
@import "variables";

.container {
  margin: 0 auto;
  width: 100%;
}

.button {
  background-color: $brand-700;
  color: $background-900;
  border-color: transparent;
  font-weight: 700;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.375rem $three-quarters;
  width: fit-content;
  @include display-flex;
  justify-content: center;
  @include border-radius($single);

  &:hover,
  &:focus {
    background-color: $cta-900;
    color: $text-900;
  }

  &--secondary,
  &--tertiary,
  &--transparent {
    
    color: $text-900;

    &:hover,
    &:focus {
      background-color: $brand-700;
      color: $background-900;
    }
  }

  &--secondary {
    background-color: $cta-900;
  }

  &--tertiary {
    background-color: $brand-tertiary-700
  }

  &--transparent {
    background-color: transparent;
  }

}

.bg-primary {
  background-color :$brand-500
}

.bg-secondary {
  background-color: $background-500;
}

.bg-tertiary {
  background-color: $brand-tertiary-700;
}

.bg-transparent {
  background-color: transparent;
}

.color-white {
  color: $text-900;
}

.color-black {
  color: $background-900;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .container {
    max-width: $container-desktop;
  }
  
}