@import "breakpoints";
@import "variables";

.container {
  margin: 0 auto;
  width: 100%;
}

.bg-primary {
  background-color: $primary;
  color: $white;
}

.bg-secondary {
  background-color: $secondary;
  color: $white;
}

.bg-tertiary {
  background-color: $tertiary;
  color: $black;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-tertiary {
  color: $tertiary;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .container {
    max-width: $container-desktop;
  }
  
}