/* VARIABLES */

// Colors 
$primary: #e39b41;
$primaryLight: #ffddba;
$primaryDark: #2b1700;
$secondary: #33658a;
$secondaryLight: #cce5ff;
$secondaryDark: #001e31;
$tertiary: #006d38;
$tertiaryLight: #9bf6b3;
$tertiaryDark: #00210d;
$white: #faf7f2;
$black: #001f2a;
$body: #f5f5f6;
$gray: #E1E2E1;
$error: #ba1a1a;
$errorLight: #ffdad6;
$errorDark: #410002;

// Spacing
$half: 0.5rem;
$single: 1rem;
$double: 2rem;
$triple: 3rem;
$quadruple: 4rem;
$quintuple: 5rem;
