/* VARIABLES */
// Colors
$primary: #006634;
$primaryDark: #003A0D;
$secondary: #33658a;
$secondaryDark: #003B5D;
$tertiary: #e39b41;
$white: #faf7f2;
$black: #05090b;
$body: #f5f5f6;
$gray: #E1E2E1;

// Spacing
$half: 0.5rem;
$single: 1rem;
$double: 2rem;
$triple: 3rem;
$quadruple: 4rem;
$quintuple: 5rem;
