@import './variables.css';

/* Container */
.container {
  margin: 0 auto;
  width: 100%;
}

/* Button */
.button {
  background-color: var(--brand-700);
  color: var(--background-900);
  text-shadow: initial;
  border-color: transparent;
  font-weight: 700;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  padding: 0.375rem var(--three-quarters);
  display: flex;
  justify-content: center;
  border-radius: var(--single);
}

.button:hover,
.button:focus {
  background-color: var(--cta-900);
  color: var(--text-900);
}

.button--secondary {
  background-color: var(--cta-900);
}

.button--tertiary {
  background-color: var(--cta-500);
}
  
.button--secondary,
.button--tertiary {
  color: var(--text-900);
}

.button--secondary:hover,
.button--secondary:focus,
.button--tertiary:hover,
.button--tertiary:focus {
  background-color: var(--brand-700);
  color: var(--background-900);
}

.button--transparent {
  color: var(--text-900);
  background-color: transparent;
}

.button--transparent:hover,
.button--transparent:focus {
  color: var(--brand-700);
}

/* Background and Color Classes */
.bg-primary {
  background-color: var(--brand-500);
}

.bg-secondary {
  background-color: var(--background-500);
}

.bg-tertiary {
  background-color: var(--background-300);
}

.bg-transparent {
  background-color: transparent;
}

.color-white {
  color: var(--text-900);
}

.color-black {
  color: var(--background-900);
}

.color-primary {
  color: var(--brand-500);
}

/* Screen Reader Only Class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Desktop Styles */
@media (min-width: var(--container-desktop)) {
  .container {
    max-width: var(--container-desktop);
  }
}
